<!DOCTYPE html>
<html>
    {{>head}}

    <body class="d-flex flex-column">
        {{>header}}

        <div id="home-container">
            {{>portfolio}}
        </div>

        {{>footer}}

        {{>scripts}}

  </body>
</html>
