<!DOCTYPE html>
<html>
    {{>head}}

    <body class="d-flex flex-column">
        {{>header}}

        <!-- Portfolio Navbar -->
        {{>subheader}}

        <div id="portfolio-container">

            {{!-- Art Items --}}
            <div class="col-12 d-flex flex-wrap my-5 mx-0" id="art_container">
                
            </div>

            {{>modal}}

        </div>

        {{>footer}}

        {{>scripts}}
        <script src="/js/portfolio.js"></script>
  </body>
</html>
