#header {

  .navbar-backdrop {
    background: $pink-gradient;
    nav {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .navbar-toggler {
      border: none;
    }

    .navbar-brand {
      padding: 0 !important;
      img {
        max-height: 40px;
        width: auto;
        display: block;
      }
    }
  }

  @include media-breakpoint-up(sm) {
  }
  @include media-breakpoint-up(md) {
    .navbar-brand {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  @include media-breakpoint-up(lg) {
  }
  @include media-breakpoint-up(xl) {
  }
}
