$pink-gradient: linear-gradient(180deg, #FCE7FF 0%, #FBDBFF 100%);
$pink: #EDC8EA;
$dark_pink: #d483cf;
$card_footer: #FFB4B4;
$purple: #C38FC9;
$salmon: #FFDADA;
$yellow: #F4FFDD;
$light_green: #E5FFF5;
$dark_green: #D1FCEB;
