@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';
@import '../../node_modules/bootstrap/scss/grid';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
}

@import 'variables';
@import 'header';
@import 'portfolio-home';
@import 'footer';


body {
    min-height: 100vh;
    width: 100vw;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

p {
    font-weight: 400;
    font-size: 18px;
}