<header id="subheader">
  <div class="navbar navbar-light">
    <nav class="navbar navbar-expand-lg w-100">

      <!-- Category -->
      <div class="col-3">
        <label for="category">
          <p>Category</p>
          <select name="category" id="category_selection">
            <option selected value="all">All</option>
            <option value="university">University</option>
          </select>
        </label>
      </div>
      <!-- Style -->
      <div class="col-3">
        
      </div>
      <!-- For Sale -->
      <div class="col-3">
        
      </div>
      <!-- Sort By -->
      <div class="col-3">
        
      </div>

    </nav>
  </div>
</header>