<header id="subheader">
  <div class="navbar navbar-light">
    <nav class="navbar navbar-expand-lg w-100">

      <!-- Category -->
      <div class="col-3">
        <label for="category">
          <p>Category</p>
          <select name="category" id="category_selection">
            <option selected value="all">All</option>
            <option value="university">University</option>
            <option value="commission">Commission</option>
            <option value="personal">Personal</option>
          </select>
        </label>
      </div>

      <!-- Style -->
      <div class="col-3">
        <label for="style">
          <p>Style</p>
          <select name="style" id="style_selection">
            <option selected value="all">All</option>
            <option value="university">Digital</option>
            <option value="commission">Physical</option>
          </select>
        </label>
      </div>

      <!-- For Sale -->
      <div class="col-3">
        <label for="for_sale">
          <p>For Sale</p>
          <select name="for_sale" id="for_sale_selection">
            <option selected value="all">All</option>
            <option value="university">University</option>
            <option value="commission">Commission</option>
            <option value="personal">Personal</option>
          </select>
        </label>
      </div>

      <!-- Sort By -->
      <div class="col-3">
        <label for="sort">
          <p>Sort By</p>
          <select name="sort" id="sort_selection">
            <option selected value="all">All</option>
            <option value="university">University</option>
            <option value="commission">Commission</option>
            <option value="personal">Personal</option>
          </select>
        </label>
      </div>

    </nav>
  </div>
</header>