<div id="about" class="section_container w-100 d-flex align-items-center">
  <div class="d-flex justify-content-center align-items-center w-100 px-100 about_container">

    {{! Description }}
    <div class="col-12 col-md-8 pr-100 d-flex justify-content-center flex-column description_container">
        <h1 class="p-2">About Me</h1>
        <p class="p-2">
            Ny name is Sarah Brennan. I am a third-year Illustration (BA Hons) student
            with a large ambition for Digital and Physical artwork. I thrive in 
            portrait-based artwork, specifically from a shoulder-up perspective, 
            but I do not shy away from alternative mediums.
        </p>
    </div>

    {{! Profile Image }}
    <div class="col-10 col-md-4 p-3 d-flex align-items-center justify-content-center">
        <img class="profile_image w-100" src="/img/profile-image.png" alt="Self Portrait">
    </div>

  </div>
</div>