<div id="portfolio-home" class="section_container w-100 d-flex align-items-center">
  <div class="container d-flex">

    {{! Description }}
    <div class="col-5 pr-5 d-flex justify-content-center flex-column description_container">
        <h1>Portfolio</h1>
        <p>Over the years, I have completed various forms of work. Select a category on the right to see some of them.</p>
    </div>

    {{! Gallery }}
    <div class="col-7 d-flex image_container">
        <div class="col-4 p-1 image_slider">
            <div class="image_box"></div>
        </div>
        <div class="col-4 p-1 image_slider">
            <div class="image_box"></div>
        </div>
        <div class="col-4 p-1 image_slider">
            <div class="image_box"></div>
        </div>
    </div>

  </div>
</div>