@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container-sm, .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1140px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}
.no-gutters > .col,
.no-gutters > [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-xl,
.col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg,
.col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md,
.col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm,
.col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col,
.col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.row-cols-1 > * {
  flex: 0 0 100%;
  max-width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 50%;
  max-width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 20%;
  max-width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.order-first {
  order: -1;
}

.order-last {
  order: 13;
}

.order-0 {
  order: 0;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.order-6 {
  order: 6;
}

.order-7 {
  order: 7;
}

.order-8 {
  order: 8;
}

.order-9 {
  order: 9;
}

.order-10 {
  order: 10;
}

.order-11 {
  order: 11;
}

.order-12 {
  order: 12;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-sm-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-sm-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-sm-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-sm-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-sm-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-sm-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-sm-first {
    order: -1;
  }

  .order-sm-last {
    order: 13;
  }

  .order-sm-0 {
    order: 0;
  }

  .order-sm-1 {
    order: 1;
  }

  .order-sm-2 {
    order: 2;
  }

  .order-sm-3 {
    order: 3;
  }

  .order-sm-4 {
    order: 4;
  }

  .order-sm-5 {
    order: 5;
  }

  .order-sm-6 {
    order: 6;
  }

  .order-sm-7 {
    order: 7;
  }

  .order-sm-8 {
    order: 8;
  }

  .order-sm-9 {
    order: 9;
  }

  .order-sm-10 {
    order: 10;
  }

  .order-sm-11 {
    order: 11;
  }

  .order-sm-12 {
    order: 12;
  }

  .offset-sm-0 {
    margin-left: 0;
  }

  .offset-sm-1 {
    margin-left: 8.3333333333%;
  }

  .offset-sm-2 {
    margin-left: 16.6666666667%;
  }

  .offset-sm-3 {
    margin-left: 25%;
  }

  .offset-sm-4 {
    margin-left: 33.3333333333%;
  }

  .offset-sm-5 {
    margin-left: 41.6666666667%;
  }

  .offset-sm-6 {
    margin-left: 50%;
  }

  .offset-sm-7 {
    margin-left: 58.3333333333%;
  }

  .offset-sm-8 {
    margin-left: 66.6666666667%;
  }

  .offset-sm-9 {
    margin-left: 75%;
  }

  .offset-sm-10 {
    margin-left: 83.3333333333%;
  }

  .offset-sm-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-md-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-md-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-md-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-md-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-md-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-md-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-md-first {
    order: -1;
  }

  .order-md-last {
    order: 13;
  }

  .order-md-0 {
    order: 0;
  }

  .order-md-1 {
    order: 1;
  }

  .order-md-2 {
    order: 2;
  }

  .order-md-3 {
    order: 3;
  }

  .order-md-4 {
    order: 4;
  }

  .order-md-5 {
    order: 5;
  }

  .order-md-6 {
    order: 6;
  }

  .order-md-7 {
    order: 7;
  }

  .order-md-8 {
    order: 8;
  }

  .order-md-9 {
    order: 9;
  }

  .order-md-10 {
    order: 10;
  }

  .order-md-11 {
    order: 11;
  }

  .order-md-12 {
    order: 12;
  }

  .offset-md-0 {
    margin-left: 0;
  }

  .offset-md-1 {
    margin-left: 8.3333333333%;
  }

  .offset-md-2 {
    margin-left: 16.6666666667%;
  }

  .offset-md-3 {
    margin-left: 25%;
  }

  .offset-md-4 {
    margin-left: 33.3333333333%;
  }

  .offset-md-5 {
    margin-left: 41.6666666667%;
  }

  .offset-md-6 {
    margin-left: 50%;
  }

  .offset-md-7 {
    margin-left: 58.3333333333%;
  }

  .offset-md-8 {
    margin-left: 66.6666666667%;
  }

  .offset-md-9 {
    margin-left: 75%;
  }

  .offset-md-10 {
    margin-left: 83.3333333333%;
  }

  .offset-md-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-lg-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-lg-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-lg-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-lg-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-lg-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-lg-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-lg-first {
    order: -1;
  }

  .order-lg-last {
    order: 13;
  }

  .order-lg-0 {
    order: 0;
  }

  .order-lg-1 {
    order: 1;
  }

  .order-lg-2 {
    order: 2;
  }

  .order-lg-3 {
    order: 3;
  }

  .order-lg-4 {
    order: 4;
  }

  .order-lg-5 {
    order: 5;
  }

  .order-lg-6 {
    order: 6;
  }

  .order-lg-7 {
    order: 7;
  }

  .order-lg-8 {
    order: 8;
  }

  .order-lg-9 {
    order: 9;
  }

  .order-lg-10 {
    order: 10;
  }

  .order-lg-11 {
    order: 11;
  }

  .order-lg-12 {
    order: 12;
  }

  .offset-lg-0 {
    margin-left: 0;
  }

  .offset-lg-1 {
    margin-left: 8.3333333333%;
  }

  .offset-lg-2 {
    margin-left: 16.6666666667%;
  }

  .offset-lg-3 {
    margin-left: 25%;
  }

  .offset-lg-4 {
    margin-left: 33.3333333333%;
  }

  .offset-lg-5 {
    margin-left: 41.6666666667%;
  }

  .offset-lg-6 {
    margin-left: 50%;
  }

  .offset-lg-7 {
    margin-left: 58.3333333333%;
  }

  .offset-lg-8 {
    margin-left: 66.6666666667%;
  }

  .offset-lg-9 {
    margin-left: 75%;
  }

  .offset-lg-10 {
    margin-left: 83.3333333333%;
  }

  .offset-lg-11 {
    margin-left: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  .row-cols-xl-1 > * {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .row-cols-xl-2 > * {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .row-cols-xl-3 > * {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .row-cols-xl-4 > * {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .row-cols-xl-5 > * {
    flex: 0 0 20%;
    max-width: 20%;
  }

  .row-cols-xl-6 > * {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: 100%;
  }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .order-xl-first {
    order: -1;
  }

  .order-xl-last {
    order: 13;
  }

  .order-xl-0 {
    order: 0;
  }

  .order-xl-1 {
    order: 1;
  }

  .order-xl-2 {
    order: 2;
  }

  .order-xl-3 {
    order: 3;
  }

  .order-xl-4 {
    order: 4;
  }

  .order-xl-5 {
    order: 5;
  }

  .order-xl-6 {
    order: 6;
  }

  .order-xl-7 {
    order: 7;
  }

  .order-xl-8 {
    order: 8;
  }

  .order-xl-9 {
    order: 9;
  }

  .order-xl-10 {
    order: 10;
  }

  .order-xl-11 {
    order: 11;
  }

  .order-xl-12 {
    order: 12;
  }

  .offset-xl-0 {
    margin-left: 0;
  }

  .offset-xl-1 {
    margin-left: 8.3333333333%;
  }

  .offset-xl-2 {
    margin-left: 16.6666666667%;
  }

  .offset-xl-3 {
    margin-left: 25%;
  }

  .offset-xl-4 {
    margin-left: 33.3333333333%;
  }

  .offset-xl-5 {
    margin-left: 41.6666666667%;
  }

  .offset-xl-6 {
    margin-left: 50%;
  }

  .offset-xl-7 {
    margin-left: 58.3333333333%;
  }

  .offset-xl-8 {
    margin-left: 66.6666666667%;
  }

  .offset-xl-9 {
    margin-left: 75%;
  }

  .offset-xl-10 {
    margin-left: 83.3333333333%;
  }

  .offset-xl-11 {
    margin-left: 91.6666666667%;
  }
}
* {
  font-family: "Poppins", sans-serif;
}

#about {
  padding: 1.5rem 0;
  background: #F4FFDD;
}
#about .about_container {
  flex-direction: column;
}
#about .about_container .profile_image {
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}
@media (min-width: 768px) {
  #about {
    padding: 3rem 0;
  }
  #about .about_container {
    flex-direction: row;
  }
}
#contact {
  padding: 1.5rem 0;
  background: #E5FFF5;
}
#contact .mobile_contact .social_item {
  background: green;
  border-radius: 0.5rem;
}
#contact .etsy_email_container .etsy_email_box .etsy_email_inner {
  border: 1px solid green;
  border-radius: 0.5rem;
}
#contact .etsy_email_container .etsy_email_box .etsy_email_inner p {
  text-align: center;
}
#contact .etsy_email_container .etsy_email_box .etsy_email_inner a {
  height: 52px;
}
#contact .etsy_email_container .etsy_email_box .etsy_email_inner .etsy_button {
  background: #EDC8EA;
  border-radius: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  color: white;
}
#contact .mobile_form {
  background: #D1FCEB;
  border-radius: 0.5rem;
}
#contact .mobile_form h2 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}
#contact .mobile_form .form-group input, #contact .mobile_form .form-group textarea {
  background: #EDC8EA;
  border: none;
  border-radius: 0.5rem;
  color: rgba(0, 0, 0, 0.75);
}
#contact .mobile_form .form-group input::placeholder, #contact .mobile_form .form-group textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
#contact .mobile_form .submit_btn {
  border: none;
  background: green;
  color: white;
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 768px) {
  #contact {
    padding: 3rem 0;
    align-items: center;
  }
  #contact .contact_box {
    background: #D1FCEB;
    border-radius: 0.5rem;
  }
  #contact .contact_box .logo_image {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  #contact .contact_box .logo_image img {
    height: 100%;
    margin: auto;
  }
  #contact .contact_box .social_container .social_item {
    list-style: none;
  }
  #contact .contact_box .social_container .social_item a {
    border-radius: 0.5rem;
    background: green;
  }
  #contact .contact_box .social_container .social_item a img {
    max-height: 60px;
  }
  #contact .contact_box .etsy_container p {
    font-size: 12px;
  }
  #contact .contact_box .etsy_container .etsy_link {
    background: green;
    color: white;
    border-radius: 0.5rem;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
  }
  #contact .contact_box .email_container img {
    max-height: 60px;
  }
  #contact .contact_box .email_container p {
    font-size: 14px;
    color: black;
  }
  #contact .contact_box .contact_title h1,
#contact .contact_box .contact_title p {
    text-align: right;
  }
  #contact .contact_box form {
    max-width: 470px;
  }
  #contact .contact_box form label {
    font-weight: 300;
    font-size: 14px;
  }
  #contact .contact_box form .form-group input,
#contact .contact_box form .form-group textarea {
    border: none;
    background: #EDC8EA;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
    font-size: 16px;
    border-radius: 0.5rem;
    transition: all 0.2s ease;
  }
  #contact .contact_box form .form-group input:hover, #contact .contact_box form .form-group input:focus,
#contact .contact_box form .form-group textarea:hover,
#contact .contact_box form .form-group textarea:focus {
    background: #d483cf;
  }
  #contact .contact_box form .form-group input::placeholder,
#contact .contact_box form .form-group textarea::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
  #contact .contact_box form .form-group input {
    min-height: 32px;
  }
  #contact .contact_box form .form-group textarea {
    min-height: 70px;
    height: 100px;
    max-height: 130px;
    max-width: 100%;
    min-width: 100%;
  }
  #contact .contact_box form .submit_btn {
    border-radius: 0.5rem;
    background: green;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
}
#footer {
  background: #C38FC9;
}
#footer .navbar {
  display: flex;
  flex-direction: column-reverse;
}
#footer .navbar .navbar-brand {
  margin-bottom: 1.5rem;
}
#footer .navbar .navbar-brand p {
  color: rgba(0, 0, 0, 0.3);
}
#footer .navbar .page_links {
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}
#footer .navbar .page_links li {
  margin-left: 1.5rem;
}
#footer .navbar .page_links a {
  color: #fff;
}
@media (min-width: 768px) {
  #footer .navbar {
    flex-direction: row;
  }
  #footer .navbar .navbar-brand {
    margin-bottom: unset;
  }
  #footer .navbar .page_links {
    width: unset;
    flex-direction: row;
    margin-bottom: 0;
  }
  #footer .navbar .page_links li {
    margin: 0 3rem;
  }
}
#header .navbar-backdrop {
  background: linear-gradient(180deg, #FCE7FF 0%, #FBDBFF 100%);
}
#header .navbar-backdrop nav {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#header .navbar-backdrop .navbar-toggler {
  border: none;
}
#header .navbar-backdrop .navbar-brand {
  padding: 0 !important;
}
#header .navbar-backdrop .navbar-brand img {
  max-height: 40px;
  width: auto;
  display: block;
}
@media (min-width: 768px) {
  #header .navbar-brand {
    padding-left: 15px;
    padding-right: 15px;
  }
}
#portfolio-container {
  background: #FFDADA;
  min-height: 100vh;
}
#portfolio-container .art_box {
  min-height: 330px;
  padding: 1rem 0.5rem;
}
#portfolio-container .art_box .art_inner {
  border-radius: 1rem;
  height: fit-content;
  min-height: 100%;
  overflow: hidden;
  background: #FFE9E9;
}
#portfolio-container .art_box .art_inner .image_container {
  padding: 1rem 0.25rem;
}
#portfolio-container .art_box .art_inner .image_container img {
  max-height: 200px;
  height: auto;
  display: block;
  max-width: 100%;
}
#portfolio-container .art_box .art_inner footer {
  background-color: #FFB4B4;
  min-height: 75px;
  height: fit-content;
  padding: 0.5rem;
}
#portfolio-container .art_box .art_inner footer h3 {
  font-size: 4vw;
  font-weight: 700;
}
#portfolio-container .art_box .art_inner footer small {
  font-size: 3vw;
}
#portfolio-container .art_box .art_inner footer span {
  font-size: 0.5vw;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 576px) {
  #portfolio-container {
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 768px) {
  #portfolio-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  #portfolio-container .art_box {
    padding: 1rem !important;
  }
  #portfolio-container .image_container {
    padding: 1rem !important;
  }
  #portfolio-container footer {
    padding: 1rem !important;
  }
  #portfolio-container footer h3 {
    font-size: 2vw !important;
  }
  #portfolio-container footer small {
    font-size: 1.5vw !important;
  }
  #portfolio-container footer span {
    font-size: 1vw !important;
  }
}
@media (min-width: 992px) {
  #portfolio-container {
    padding-left: 75px !important;
    padding-right: 75px !important;
  }
  #portfolio-container footer h3 {
    font-size: 0.9vw !important;
  }
  #portfolio-container footer small {
    font-size: 0.7vw !important;
  }
  #portfolio-container footer span {
    font-size: 0.5vw !important;
  }
}
@media (min-width: 1200px) {
  #portfolio-container {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

#portfolio-home {
  padding: 1.5rem 0;
  background: #FFDADA;
  height: fit-content;
}
#portfolio-home .portfolio_container {
  flex-direction: column;
}
#portfolio-home .portfolio_container .description_container h1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}
#portfolio-home .portfolio_container .image_container {
  overflow-x: hidden;
  height: 50vh;
  margin-top: 1.5rem;
}
#portfolio-home .portfolio_container .image_container .image_slider {
  transition: all 0.3s ease;
}
#portfolio-home .portfolio_container .image_container .image_box {
  height: 60vh;
  background-size: cover;
  background-position-x: 25%;
  background-position-y: 33%;
}
#portfolio-home .portfolio_container .image_container .image_box div {
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}
#portfolio-home .portfolio_container .image_container #university {
  background-image: url(../img/uni-image.png);
}
#portfolio-home .portfolio_container .image_container #personal {
  background-image: url(../img/personal-image.png);
}
#portfolio-home .portfolio_container .image_container #commission {
  background-image: url(../img/commission-image.png);
}
@media (min-width: 768px) {
  #portfolio-home {
    padding: 3rem 0;
  }
  #portfolio-home .portfolio_container {
    flex-direction: row;
  }
  #portfolio-home .portfolio_container .image_container {
    height: 60vh;
    margin-top: unset;
  }
  #portfolio-home .portfolio_container .image_container .image_box div {
    font-size: 36px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.4);
  }
}
body {
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 42px;
  text-transform: uppercase;
}

p {
  font-weight: 400;
  font-size: 16px;
}

a, input, button {
  text-decoration: none !important;
}

li {
  list-style: none !important;
}

.h-33 {
  height: 33.33334%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 48px;
  }

  .px-50 {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  .pl-50 {
    padding-left: 50px !important;
  }

  .pr-50 {
    padding-right: 50px !important;
  }

  .px-100 {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }

  .pl-100 {
    padding-left: 100px !important;
  }

  .pr-100 {
    padding-right: 100px !important;
  }
}

/*# sourceMappingURL=style.css.map */
