<footer id="footer" class="mt-auto py-3">
  <nav class="navbar w-100">
    {{! Logo & Title }}
    <a href="/" class="navbar-brand d-flex align-items-center col-12 col-md-3">
      <img class="col-3 p-0" src="/img/logo.png" alt="SB Illustrates" />
      <p class="col-9 mb-0">SB Illustrates, est. 2020 ©</p>
    </a>

    {{! Links }}
    <ul class="d-flex pl-0 page_links mr-4">
      <li class="my-3">
        <a href="/">Home</a>
      </li>
      <li class="my-3">
        <a href="/portfolio">Portfolio</a>
      </li>
    </ul>
  </nav>
</footer>